<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world!</h1>
    <form action="{% url 'audio_for_text' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="audio">informe o audio:</label>
        <input type="file" name="audio" id="audio" accept=".wav">

        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>